:root {
    --color-primary: #edecdd;
    --color-primary-hover: #9ca3af;
    --color-secondary: #5ca2be;
    --color-tertiary: #615de8;
    --color-quaternary: #854e72;
    --color-quinary: #181b29;
    --color-quinary-hover: #424a6d;
    --background-color: #edecdd;
    --text-color: #000000;
}

[data-theme='dark'] {
    --color-primary: #edecdd;
    --color-primary-hover: #424a6d;
    --color-secondary: #5ca2be;
    --color-tertiary: #615de8;
    --color-quaternary: #854e72;
    --color-quinary: #181b29;
    --color-quinary-hover: #9ca3af;
    --background-color: #10121e;
    --text-color: #edecdd;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: system-ui, sans-serif;
}

/*                         */
/* Container for all pages */
/*                         */
main {
    padding: 1rem;
}

/*                */
/* Button styling */
/*                */
.button {
    cursor: pointer;
    white-space: nowrap;
    border-radius: 0.375rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0, 0, 0, 0.05);
}
.button-green {
    background-color: rgb(20, 184, 166);
    color: rgb(255, 255, 255);

    &:hover {
        background-color: rgb(20, 184, 166, 0.8);
    }
}
.button-white {
    background-color: var(--color-primary);
    color: rgb(0, 0, 0);

    &:hover {
        background-color: rgba(237, 236, 221, 0.8);
    }
}