:root {
    --color-primary: #edecdd;
    --color-secondary: #181b29;
    --color-tertiary: #615de8;
    --color-quaternary: #854e72;
    --color-quinary: #5ca2be;
}

body {
    background-color: var(--color-primary);
    font-family: "Your Custom Font", ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header {
    height: 4rem;
    width: 100%;
    background-color: var(--color-secondary);

    nav {
        height: 100%;

        ul {
            display: flex;
            justify-content: space-between;
            align-content: center;
            height: 100%;
            font-weight: 600;

            .nav-hamburger {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 1rem;
            }

            .hamburger {
                display: none;
                padding: 0 1rem 0 0.5rem;
                cursor: pointer;
                font: inherit;
                background-color: transparent;
                border: none;

                &.hamburger:hover {
                    opacity: 0.7;
                }

                .hamburger-box {
                    width: 1.25rem;
                    height: 1.25rem;
                    display: inline-block;
                    position: relative;
                }

                .hamburger-inner {
                    display: block;
                    top: 50%;
                }
            }
            .hamburger-inner,
            .hamburger-inner::before,
            .hamburger-inner::after {
                height: 0.1rem;
                width: 1.275rem;
                background-color: var(--color-primary);
                border-radius: 4px;
                position: absolute;
                transition-property: transform;
                transition-duration: 0.15s;
                transition-timing-function: ease;
            }
            .hamburger-inner::before {
                top: -6px;
            }
            .hamburger-inner::after {
                bottom: -6px;
            }
            .hamburger-inner::before,
            .hamburger-inner::after {
                content: "";
                display: block;
            }
            .hamburger--minus .hamburger-inner::before,
            .hamburger--minus .hamburger-inner::after {
                transition: bottom 0.08s 0s ease-out, top 0.08s 0s ease-out, opacity 0s linear;
            }
            .hamburger--minus.is-active .hamburger-inner::before,
            .hamburger--minus.is-active .hamburger-inner::after {
                opacity: 0;
                transition: bottom 0.08s ease-out, top 0.08s ease-out, opacity 0s 0.08s linear;
            }
            .hamburger--minus.is-active .hamburger-inner::before {
                top: 0;
            }
            .hamburger--minus.is-active .hamburger-inner::after {
                bottom: 0;
            }

            .website-logo {
                display: flex;
                align-items: center;
                padding: 0 1rem;

                img {
                    max-height: 60%;
                }
            }

            .nav-links {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 1rem;

                a {
                    color: var(--color-primary);
                    font-size: 0.875rem;
                    margin: 1.125rem;
                }
            }

            .login-register {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 1rem;

                a {
                    font-size: 0.875rem;
                    margin: 0.475rem;
                }
            }
        }
    }
}

.button {
    cursor: pointer;
    border-radius: 0.375rem;
    padding: 0.8rem 1.2rem;
    font-size: 0.875rem;
    font-weight: 600;
    color: #fff;
}

.button-green {
    color: var(--color-primary);
    background-color: #14b8a6;

    &:hover {
        background-color: #0e8a7f;
    }
}

.button-white {
    background-color: var(--color-primary);
    color: #000;

    &:hover {
        background-color: #cfcec5;
    }
}

@media screen and (max-width: 740px) {
    .nav-links {
        display: none !important;
    }
    .hamburger {
        display: block !important;
    }
}